@tailwind base;
@tailwind components;
@tailwind utilities;

.header-bg {
    background-color: #2b6cb0; 
  }
  
  
  .sidebar-bg {
    background-color: #edf2f7; 
  }
  
 
  .button-bg {
    background-color: #3182ce; 
    color: #ffffff;
  }
  
  .button-bg:hover {
    background-color: #2c5282;
  }
  
 
  .main-bg {
    background-color: #ffffff; 
  }
  
 
  .table-header-bg {
    background-color: #ebf4ff; 
  }